
<div id="wrapper">  
  <div class="container">
      <!-- <img src="../../assets/images/Good.jpg"> -->
  </div>
</div>
<div id="body">
  <div id="tagline">
    <h1>Find. Follow. Fulfill.</h1>
  </div>
  <!-- List of all participating charities with needs - can be filtered above using radio buttons-->
 <br>
 <div id="findOrgs" >
  <h2>
    Find organizations with needs near you.
  </h2>
  <p>Below is a list of organizations with immediate needs. Filter by those closest to you. </p>
 <div id="switchRow">
 <p>Use Current Location?</p>
  <div id="switch"> 
<label class="switch">
  
  
  <div>
   <input [checked]="nearMe" (change)="nearMe = !nearMe"type="checkbox"> 
  <span class="slider round"></span>
  </div>

</label>
</div>
</div>
  <form id="distanceForm" novalidate (ngSubmit)="findLocalCharities(distanceForm)" #distanceForm="ngForm" class="form-horizontal control-label">
    <label class="radio-inline">
        <input  type="radio" ngControl="distance" #distanceFive [(ngModel)]="model.distance" name="distance" id="distance2" [value]="5" >5 miles
      </label>
    <label class="radio-inline">
        <input  type="radio" ngControl="distance" #distanceTen  [(ngModel)]="model.distance" name="distance" id="distance2" [value]="10" >10 miles
      </label>
    <label class="radio-inline">
        <input  type="radio"  ngControl="distance" #distanceFifteen  [(ngModel)]="model.distance" name="distance" id="distance3" [value]="15">15 miles
      </label>
    <label class="radio-inline">
        <input   type="radio" ngControl="distance" #distanceTwenty  [(ngModel)]="model.distance" name="distance" id="distance4" [value]="20">20 miles
      </label>
    <label class="radio-inline">
        <input   type="radio" ngControl="distance" #distanceTwentyFive [(ngModel)]="model.distance" name="distance" id="distance5" [value]="25">25 miles
    </label>
    <div class="divButtons">
      <button type="submit" class="btn">Submit</button>
      <button type="button"class="btn" (click)="resetNeeds(distanceFive, distanceTen, distanceFifteen, distanceTwenty, distanceTwentyFive)">Reset</button>
    </div>
  </form>
  <br>
  <!-- Reset/clear the radio buttons by calling the resetNeeds function. Added for better user experience -->
 </div>
  
  <br>
  <br>
  <div *ngIf="!needs">Loading...</div>
  <div *ngIf="!charities">
    <h2>All Charities with Needs</h2>
    <table class="table table-hover table-bordered" id="dataTable" style="width:100%">
      <thead>
        <tr>
          <th>Charity Name</th>
          <th class="optional">Charity Type</th>
          <th class="optional">Need Category</th>
          <th class="optional">Need by Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Give</th>
          <th>Follow</th>
        </tr>
      </thead>
      <tbody>

        <!-- Loop over each need in the array and display the attributes in a table -->
        <tr *ngFor="let need of needs">
          <td>{{need.users[0].charityName}}</td>
          <td class="optional">{{need.users[0].charityType}}</td>
          <td class="optional">{{need.type}}</td>
          <td class="optional">{{need.dateNeeded}}</td>
          <td>{{need.description}}</td>
          <td>{{need.originalAmount}}</td>
          <td class="text-center">
            <!-- upon click of the "Give" button, call the getRecordForEdit function and pass the selected need. Binding to the need.id attribute, which dynamically stores the id for each user -->
            <button attr.data-need-Id="{{need.id}}" (click)="getRecordForEdit(need)" data-toggle="modal" data-target="#giveForm" #give
              class="btn btn-primary glyphicon glyphicon-gift"></button>
          </td>
          <td class="text-center">
            <!-- upon click of the "Follow" button, call the followCharity function. Bind the need.user.id attrinute, which dynamically stores it for each user-->
            <button attr.data-Id="{{need.users[0].id}}" #follow (click)="followCharity(follow.getAttribute('data-Id'))" class="btn btn-primary glyphicon glyphicon-ok"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Radio buttons to select distance based on the address user provides on registration -->
  <!-- Upon click of radio button, call the findLocalCharities function and pass in the selected value -->

  <br>

 

  <!-- table to pull charities based on location -->
  <!-- If charities exist based on location criteria, change the table to populate according to criteria. NgIf uses the "charities" function. -->
   

  
  <div *ngIf="charities">
    <h2>Charities Near You</h2>
    <table class="table table-hover table-bordered" id="charityTable" style="width:100%">
      <thead>
        <tr>
          <th>Charity Name</th>
          <th class="optional" >Charity Type</th>
          <th class="optional">Need Category</th>
          <th class="optional">Need by Date</th>
          <th>Description</th>
          <th>Original Amount</th>
          <th>Give</th>
          <th>Follow</th>
        </tr>
      </thead>
      <div *ngIf="charities?.length===0">No results found. Try broadening your search. </div>
      <tbody>
        <!-- loop over each charity in the array and display the attributes in a table -->
        <tr *ngFor="let charity of charities">
          <td>{{charity.users[0].charityName}}</td>
          <td class="optional">{{charity.users[0].charityType}}</td>
          <td class="optional"> {{charity.type}}</td>
          <td class="optional">{{charity.dateNeeded}}</td>
          <td>{{charity.description}}</td>
          <td>{{charity.originalAmount}}</td>
          <td class="text-center">
            <!-- upon click of the "Give" button, call the getRecordForEdit function and pass the selected need. Interpolate the need.id attribute, which dynamically stores the id for each user -->
             <span data-toggle="modal" data-target="#giveForm">
                <button attr.data-need-Id="{{charity?.id}}" (click)="getRecordForEdit(charity)" data-toggle="tooltip" data-placement="top" title="Tooltip on top"
                id="give" #give class="btn btn-primary glyphicon glyphicon-gift"></button>
              </span>
          </td>
          <td class="text-center">
            <!-- upon click of the "Follow" button, call the followCharity function. Interpolate the need.user.id attribute, which dynamically stores it for each user-->
            <button attr.data-Id="{{charity.users[0].id}}" #follow (click)="followCharity(follow.getAttribute('data-Id'))" class="btn btn-primary glyphicon glyphicon-ok"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<div style="display: inline; display: flex; justify-content: center;" tooltip="Following a charity allows them to send you text notifications when they add a need you may be able to fulfill."
tooltipPlacement="top"> 
  <a class="btn btn-primary" role="button" href="#followedCharities" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">Click to See Followed Charities</a>
  <!-- Table to display charities that user has selected to "Follow" -->
 </div>

  <div class="collapse" id="followedCharities">
    <div class="well">
    <h2>
      Followed Organizations
    </h2>
    <table class="table table-hover table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Charity ID</th>
          <th>Charity Name</th>
          <th>EIN</th>
          <th>Unfollow</th>

        </tr>
      </thead>

      <tbody>
        <!-- loop over each user and display the attributes in a table -->
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.charityName}}</td>
          <td>{{user.ein}}</td>
          <td class="text-center">
            <!-- upon click of the "Unfollow" button, call the unfollowCharity function. Interpolate the user.id attribute, which dynamically stores it for each user-->
            <button attr.data-Id="{{user.id}}" #unFollow (click)="unfollowCharity(unFollow.getAttribute('data-Id'))" class="btn btn-danger glyphicon glyphicon-remove"></button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <!-- When user selects "Give" a Modal will pop up to allow user to enter a specified give amount -->
  <div class="modal fade" id="giveForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Give</h3>
        </div>

        <div class="modal-body">
          <!-- When a user enters in an amount, upon submit, decrement from the remaining amount -->
          <form id="decrement" class="form-horizontal" (ngSubmit)="decrementNeed(giveForm)" #editForm="ngForm">
            <!-- pull the associated donation type and description for the need that the user selected to Give. Displays a summary for better user experience -->
            <p><b>Donation Type:</b> {{giveNeed?.type}}</p>
            <p><b>Donation Description:</b> {{giveNeed?.description}}</p>

            <div class="form-group">
              <label for="originalAmount" class="col-sm-2 control-label">Give Amount</label>
              <div class="col-sm-10">
                <!-- input field that pulls the remaining quantity for that need. User can then dynamically change the amount -->
               <div id="counter">
                <button type="button" (click)="increaseOne()">+</button>
               <input [(value)]="counter" id="amount" class="form-control" name="originalAmount" #amount [ngModel]="counter"
                  required>
                <button type="button" (click)="decreaseOne()">-</button>
                </div>
              </div>
            </div>
            <!-- Give button to associate the entered amount to that need, decrement upon click. -->
            <div class="modal-footer">
              <button type="button" value="{{giveNeed?.id}}" data-dismiss="modal" class="btn btn-primary" #decrement (click)="decrementNeed(decrement.value, amount.value)">Give</button>
              <button  type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal" >Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>