<h1>
  Find a charity near you!
</h1>

<form>
  <label class="radio-inline">
    <input (click)="findLocalCharities(fiveMiles.value)" #fiveMiles type="radio" name="distance" id="distance2" value="5" >5 miles
  </label>
  <label class="radio-inline">
    <input (click)="findLocalCharities(tenMiles.value)" #tenMiles type="radio" name="distance" id="distance2" value="10" >10 miles
  </label>
  <label class="radio-inline">
    <input (click)="findLocalCharities(fifteenMiles.value)" #fifteenMiles type="radio" name="distance" id="distance3" value="15">15 miles
  </label>
  <label class="radio-inline">
    <input (click)="findLocalCharities(twentyMiles.value)" #twentyMiles type="radio" name="distance" id="distance4" value="20">20 miles
  </label>
  <label class="radio-inline">
    <input (click)="findLocalCharities(twentyfiveMiles.value)" #twentyfiveMiles type="radio" name="distance" id="distance5" value="25">25 miles
  </label>
</form>
<br>
<br>
<hr>
<br>
<br>


<h1>
  Charity Needs Page
</h1>

<div *ngIf="!charities">
  <table class="table table-hover table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Charity ID</th>
        <th>Charity Name</th>
        <!-- <th>Category</th> -->
        <!-- <th>Rating</th> -->
        <th>Charity Type</th>
        <th>EIN</th>
        <th>Need Category</th>
        <th>Need by Date</th>
        <th>Description</th>
        <th>Original Amount</th>
        <th>Give</th>
        <th>Follow</th>
        <!-- <th>Rating</th> -->
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let need of needs">

        <td>{{need.users[0].id}}</td>
        <td>{{need.users[0].charityName}}</td>
        <!-- <td>{{need.category}}</td> -->
        <!-- <td>{{need.rating}}</td> -->
        <td>{{need.users[0].charityType}}</td>
        <td>{{need.users[0].ein}}</td>
        <td>{{need.type}}</td>
        <td>{{need.dateNeeded}}</td>
        <td>{{need.description}}</td>
        <td>{{need.originalAmount}}</td>
        <td class="text-center">
          <button attr.data-need-Id="{{need.id}}" (click)="getRecordForEdit(need)" data-toggle="modal" data-target="#giveForm" #give
            (click)="giveNeed(give.getAttribute('data-need-Id'))" class="btn btn-primary glyphicon glyphicon-gift"></button>
        </td>
        <td class="text-center">
          <button attr.data-Id="{{need.users[0].id}}" #follow (click)="followCharity(follow.getAttribute('data-Id'))" class="btn btn-primary glyphicon glyphicon-ok"></button>
        </td>
        <!-- <td>{{charity.rating}}</td> -->
      </tr>
    </tbody>
  </table>
</div>

<!-- table to pull charities based on location -->
<div *ngIf="charities">
  <table class="table table-hover table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Charity ID</th>
        <th>Charity Name</th>
        <!-- <th>Category</th> -->
        <!-- <th>Rating</th> -->
        <th>Charity Type</th>
        <th>EIN</th>
        <th>Need Category</th>
        <th>Need by Date</th>
        <th>Description</th>
        <th>Original Amount</th>
        <th>Give</th>
        <th>Follow</th>
        <!-- <th>Rating</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let charity of charities">

        <td>{{charity.users[0].id}}</td>
        <td>{{charity.users[0].charityName}}</td>
        <!-- <td>{{need.category}}</td> -->
        <!-- <td>{{need.rating}}</td> -->
        <td>{{charity.users[0].charityType}}</td>
        <td>{{charity.users[0].ein}}</td>
        <td>{{charity.type}}</td>
        <td>{{charity.dateNeeded}}</td>
        <td>{{charity.description}}</td>
        <td>{{charity.originalAmount}}</td>
        <td class="text-center">
          <button attr.data-need-Id="{{charity?.id}}" (click)="getRecordForEdit(charity)" data-toggle="modal" data-target="#giveForm"
            #give (click)="giveNeed(give.getAttribute('data-need-Id'))" class="btn btn-primary glyphicon glyphicon-gift"></button>
        </td>
        <td class="text-center">
          <button attr.data-Id="{{charity.users[0].id}}" #follow (click)="followCharity(follow.getAttribute('data-Id'))" class="btn btn-primary glyphicon glyphicon-ok"></button>
        </td>
        <!-- <td>{{charity.rating}}</td> -->
      </tr>
    </tbody>
  </table>
</div>


<br>
<br>
<hr>
<br>
<br>

<h1>
  Followed Charities
</h1>


<table class="table table-hover table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Charity ID</th>
      <th>Charity Name</th>
      <th>EIN</th>
      <th>Unfollow</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.charityName}}</td>
      <td>{{user.ein}}</td>
      <td class="text-center">
        <button attr.data-Id="{{user.id}}" #unFollow (click)="unfollowCharity(unFollow.getAttribute('data-Id'))" class="btn btn-danger glyphicon glyphicon-remove"></button>
      </td>

    </tr>
  </tbody>
</table>

<!-- Give Modal -->
<div class="modal fade" id="giveForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Give</h3>
      </div>

      <div class="modal-body">
        <form id="decrement" class="form-horizontal" (ngSubmit)="decrementNeed(giveForm)" #editForm="ngForm">

          <p><b>Donation Type:</b> {{giveNeed?.type}}</p>
          <p><b>Donation Description:</b> {{giveNeed?.description}}</p>

          <div class="form-group">
            <label for="originalAmount" class="col-sm-2 control-label">Give Amount</label>
            <div class="col-sm-10">
              <input value={{giveNeed?.originalAmount}} class="form-control" name="originalAmount" #amount [ngModel]="giveNeed?.originalAmount"
                required>
            </div>
          </div>



          <div class="modal-footer">
            <button type="button" value="{{giveNeed?.id}}" data-dismiss="modal" class="btn btn-primary" #decrement (click)="decrementNeed(decrement.value, amount.value)">Give</button>
            <button id="closeButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>