
<h1>Password Reset</h1>
<form novalidate (ngSubmit)="resetPassword(resetForm)" #resetForm="ngForm" name="resetForm" class="form-horizontal color: control-label">
  <div class="form-group">
    <label for="username">Username</label>
    <input [(ngModel)]="model.username" name="username" type="text" class="form-control" id="username" placeholder="Username" required minlength="2" maxlength="30">
  </div>
  <div class="form-group">
    <label for="resetNumber">5 digit verification code</label>
    <input [(ngModel)]="model.resetNumber" name="resetNumber" type="text" class="form-control" id="resetNumber" placeholder="5 digit code" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input [(ngModel)]="model.password" name="password" type="password" class="form-control" id="password" placeholder="Password" required minlength="6" maxlength="12">
  </div>
  <button [disabled]="!resetForm.form.valid" type="submit" class="btn btn-default">Submit</button>
</form>

