h1 {
    text-align: center;
}

form {
    text-align: center;
}
#title  {
    color: #F0F3BD;
    background-color: #05668D;
    padding-top: 5px;
}
#color1 {
    background-color: #F0F3BD;
    padding: 20px;
}
.control-label  {
    color: #05668D; 
}
.form-control   {
    background-color: #FEFEFE;
}

#charityType {
    margin-right: 50px;
}