<div class="row">
  <div id="donateTime" class="col-md-8 col-sm-6"> 
    <h1 class="title"> LocalHope </h1>
    <br>
    
    <article class="node-2777 node node-page view-mode-full clearfix">
      
      
      <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <div class="clearfix">
              <div style="float: left; width: 40%;"><strong>LocalHope <br />National Headquarters</strong> <br />2101 Webster St Suite 1300<br /> Seattle, WA 98101<br />USA <br />Phone: 206-977-5500 <br />Fax: 206-208-3140<br />Office hours: 9AM-5PM M-F PT</div>
              <div style="float: left; margin-left: 2%; width: 40%;"><strong>LocalHope <br />Legislative Office</strong><br />50 F Street, NW, Eighth Floor<br />Washington, DC 20001<br />USA<br />Phone: 202-547-1141<br />Fax: 202-547-6009<br />Office hours: 9AM-5PM M-F ET</div>
            </div>
          </div>
        </div>
        <!-- <div class="divMarginTop divPaddingTop"> -->
        </div>     
      </article>
    </div>
    <div id="rowOneCarousel" class="carousel slide col-md-4 col-sm-6" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img class="d-block w-100 img-fluid" src="../assets/images/time1.jpg" alt="First slide">
        </div>
        <div class="item">
          <img class="d-block w-100 img-fluid" src="../assets/images/time2.jpg" alt="Second slide">
        </div>
        <div class="item">
          <img class="d-block w-100 img-fluid" src="../assets/images/time3.jpg" alt="Third slide">
        </div>
      </div>
    </div>
  </div>
    <br> 
<!-- <br> -->
<div class="row">

  <div class="clearfix col-md-8 col-sm-6" id="divDividerThick">
    <h2 class="title">Important Email Addresses:</h2>
    <p><em>Office hours are 9AM - 5 PM Monday - Friday PT</em></p>
    <p>General information: <a href="mailto:information@LocalHope.org">information@LocalHope.org</a></p>
    <p>Membership questions: <a href="mailto:member.care@LocalHope.org">member.care@LocalHope.org</a></p>
    <p>Changes of address: <a href="mailto:address.changes@LocalHope.org">address.changes@LocalHope.org</a></p>
    <p>Outdoor activities: <a href="mailto:national.outings@LocalHope.org">national.outings@LocalHope.org</a></p>
    <p>Online merchandise orders: <a href="mailto:store@LocalHope.org">store@LocalHope.org</a></p>
    <p>Wild Places sponsorship information/orders: <a href="mailto:member.care@LocalHope.org?subject=Wild%20Place%20Sponsorship%20Question">member.care@LocalHope.org</a></p>
    <p><em>LocalHope</em> magazine: <a href="mailto:local.hope.magazine@LocalHope.org">local.hope.magazine@LocalHope.org</a></p>
    <p>Licensing inquiries: <a href="mailto:licensing@LocalHope.org">licensing@LocalHope.org</a></p>
    <p>Human resources: <a href="mailto:careers@LocalHope.org">careers@LocalHope.org</a> or visit our <a href="http://www.LocalHope.org/careers/" target="_blank">Careers</a> pages.</p>
    <p>Email/Unsubscribe Issues: <a href="mailto:member.care@LocalHope.org">member.care@LocalHope.org</a></p>
    <p>Website technical problems: <a href="mailto:webmaster@LocalHope.org">webmaster@LocalHope.org</a></p>
    <br>
  </div>
  <br>
    <div class="col-md-4 col-sm-6" >
      <div id="copyright">LocalHope® is a registered trademark of LocalHope.org. © LocalHope 2017.
        LocalHope is a registered copyright, service mark, and trademark of LocalHope.</div>
    </div>
  </div>

  
