
h1 {
    font-family: 'Neucha', cursive;
    font-size: 55px;
    color: #F0F3BD;
    text-align: center;
}

h3 {
    font-family: 'Neucha', cursive;
    text-align: center;
}

a {
    color: #05668D;
}

.wrapper {
    width: 90%;
    margin: auto, 0;
    padding:0;
}

 .rowOneCarousel {
    float: right;
    padding: 0;
} 

.carousel img {
    height: 300px;
  
}

#contactInfo {
    background-color: #028090;
    padding-left: 30px;
    height: 300px;
    color: white;
}

#divDividerThick {
    margin-top: 20px;
    background-color: #00A896;
    color: white;
    padding-left: 30px;
    height: 400px;
}

#copyright {
    margin-top: 20px;
    background-color: #05668D;
    color: white;
    vertical-align: bottom;
    height: 400px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: -10px;
}

.title  {
    color: #F0F3BD;
    text-shadow: 2px 2px  black;
}

.row1 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;

}
.row2 {
    margin-top: 20px;
    height: 100%;

}

@media screen and (max-width: 775px) {
  #rowOneCarousel {
     display: none;
     
 }
 
    #copyright, #ivDividerThick, .row1, .row2 { 
    margin: 0;  
 }

}