
h1 {
    font-family: 'Neucha', cursive;
    font-size: 55px;
    color: #CCB54C;
    text-align: center;
}

h3 {
    font-family: 'Neucha', cursive;
    text-align: center;
}

.wrapper {
    width: 90%;
    margin: auto, 0;
    padding:0;
}

.regButton {
    text-align: center;
}

.regButton button {
    border-radius: 5px;
    width: 300px;
    background-color: #182D48;
    border-color: #CCB54C;
    border-width: 5px;
}

 .rowOneCarousel {
    float: right;
    padding: 0;
} 

.carousel img {
    height: 300px;
    width: 400px;
}

#donateTime {
    background-color: #596B56;
    height: 300px;
    color: white;
}

#divDividerThick {
    background-color: #4B0539;
    color: white;
}

#copyright {
    background-color: #182D48;
    color: white;
    display: table-cell;
    vertical-align: bottom;
    height: 423px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: -10px;
}

.title  {
    color: #CCB54C;
}

