
  <div id="wrapper">  
    <div class="container">
    <!-- <img src="../../assets/images/break.jpg"> -->
    </div>
  </div>

<!-- Charity Needs Form -->
<div id="body">
    <div id="tagline">
        <h1>Engage. Excite. Empower.</h1>
    </div>
  <div id="postNeeds">
   
    <form class="form-horizontal" (ngSubmit)="saveNeed(sampleForm)" #sampleForm="ngForm">
        <div id="postHeader">
            <h1>Post Your Charity Needs</h1>
          </div>
      <div class="form-group">
        <label for="type" class="mr-sm-2 col-sm-2 control-label">Donation Type</label>
        <div class="col-sm-10">
          <select [(ngModel)]="model.type" name="type" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="type" required>
            <option selected value="Money">Money</option>
            <option value="Time">Time</option>
            <option value="Items">Items</option>
        </select>
          <span *ngIf="formErrors.type" class="text-danger">
            {{ formErrors.type }}
        </span>
        </div>
      </div>

      <div class="form-group">
        <label for="originalAmount" class="col-sm-2 control-label">Amount</label>
        <div class="col-sm-10">
          <input [(ngModel)]="model.originalAmount" type="integer" class="form-control" id="originalAmount" name="originalAmount" placeholder="e.g. $50, 1 crib, 2 hours"
            required>
          <span *ngIf="formErrors.originalAmount" class="text-danger">
            {{ formErrors.originalAmount }}
        </span>
        </div>
      </div>

      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description of Need</label>
        <div class="col-sm-10">
          <input [(ngModel)]="model.description" type="text" class="form-control" id="description" name="description" placeholder="Brief description of need"
            required maxlength="150">
          <span *ngIf="formErrors.description" class="text-danger">
          {{ formErrors.description  }}
      </span>
        </div>
      </div>

      <div class="form-group">
        <label for="dateNeeded" class="col-sm-2 control-label">Need by Date</label>
        <div class="col-sm-10">
          <input [(ngModel)]="model.dateNeeded" type="date" class="form-control" id="dateNeeded" name="dateNeeded" placeholder="e.g. 10/27/2017"
            required>
          <span *ngIf="formErrors.dateNeeded" class="text-danger">
            {{ formErrors.dateNeeded }}
        </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="submitNeed" [disabled]="!sampleForm.form.valid" type="submit" class="btn btn-primary">Submit Need</button>
        </div>
      </div>
    </form>
  </div>
  <br>
  <br>
  <br>

  <!-- Charity Needs table -->
  <h1 id="view">
    View Your Charity Needs
  </h1>

  <!-- <div *ngIf="!needs">Loading...</div> -->
  <table class="table table-hover table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>Charity Name</th>
        <th class="optional">Donation Type</th>
        <th class="optional">Need by Date</th>
        <th>Description</th>
        <th class="optional">Original Amount</th>
        <th class="optional">Need Met</th>
        <th class="optional">Being Followed</th>
        <th>Notify Followers</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let need of needs">
        <td>{{need.users[0].charityName}}</td>
        <td class="optional">{{need.type}}</td>
        <td class="optional">{{need.dateNeeded}}</td>
        <td>{{need.description}}</td>
        <td class="optional">{{need.originalAmount}}</td>
        <td class="optional" *ngIf="need.needMet">yes</td>
        <td class="optional" *ngIf="!need.needMet">no</td>
        <td class="optional">{{need.hasFollowers}}</td>
        <td id="notifyButton" class="text-center">
          <div style="display: inline;" tooltip="Sorry, your organization doesn't have any followers at this time" [tooltipDisabled]="need.hasFollowers"
            tooltipPlacement="top">
            <button [disabled]="!need.hasFollowers" class="btn btn-primary glyphicon glyphicon-send" (click)="notifyFollowers( need.users[0].id , need.id)"></button>
          </div>
        </td>
        <!-- ng-disabled="need.hasFollowers"  -->
        <td id="editButton" class="text-center">
          <button class="btn btn-primary glyphicon glyphicon-pencil" (click)="getRecordForEdit(need)" data-toggle="modal" data-target="#editNeedForm"></button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Edit Modal -->
  <div class="modal fade" id="editNeedForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Edit Need</h3>
        </div>

        <div class="modal-body" *ngIf="editNeed">
          <form id="editForm" class="form-horizontal" (ngSubmit)="saveEditedNeed(editForm)" #editForm="ngForm">
            <div class="form-group">
              <label for="type" class="mr-sm-2 col-sm-2 control-label">Donation Type</label>
              <div class="col-sm-10">
                <select [ngModel]="editNeed.type" name="type" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="type" required>
                <option selected value="Money">Money</option>
                <option value="Time">Time</option>
                <option value="Items">Items</option>
              </select>
              </div>
            </div>

            <div class="form-group">
              <label for="id" class="col-sm-2 control-label"></label>
              <div class="col-sm-10">
                <input type="hidden" class="form-control" name="id" [ngModel]="editNeed.id">
              </div>
            </div>

            <div class="form-group">
              <label for="originalAmount" class="col-sm-2 control-label">Amount</label>
              <div class="col-sm-10">
                <input class="form-control" name="originalAmount" [ngModel]="editNeed.originalAmount" required>
              </div>
            </div>

            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">Description of Need</label>
              <div class="col-sm-10">
                <input [ngModel]="editNeed.description" name="description" required>
              </div>
            </div>

            <div class="form-group">
              <label for="dateNeeded" class="col-sm-2 control-label">Need by Date</label>
              <div class="col-sm-10">
                <input [ngModel]="editNeed.dateNeeded" name="dateNeeded" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" data-dismiss="modal" class="btn btn-primary">Save changes</button>
              <button value="{{editNeed?.id}}" data-dismiss="modal" #delete (click)="deleteCharityNeed(delete.value)" type="button" class="btn btn-danger">Delete</button>
              <button id="closeButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>