<!-- Bootstrap navigation bar on top -->
<nav class="navbar navbar-default">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div *ngIf="!welcome">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span>Log In</span>
          
          </button>
      </div>
      <a class="navbar-brand" href="#">LocalHope</a>
    </div>
    <!-- Welcome message on top right. Interpolate the welcome function to dynamically add user's first name, if user is logged in  -->
    <div id="loggedIn">
      <div *ngIf="welcome">Welcome {{welcome}}
        <!-- Present a log out button, if user is logged in -->
        <button class="btn" id="logOutButton" (click)="logOut()">Log Out</button>
      </div>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div id="notLoggedIn" *ngIf="!welcome">
        <form novalidate (ngSubmit)="loginUser(loginForm)" #loginForm="ngForm" class="form-horizontal" name="loginForm" class="navbar-form navbar-right">
          <div class="form-group">
            <input [ngModel]="" ngModel #username="ngModel" type="text" class="form-control" id="username" name="username" placeholder="username"
              required minlength="2" maxlength="30">
          </div>
          <div class="form-group">
            <input [ngModel]="registration?.password" ngModel #password="ngModel" type="password" class="form-control" id="password"
              name="password" placeholder="password" required minlength="6" maxlength="12">
          </div>
          <button type="submit" class="btn btn-default">Log-in</button>
          <div id="badLogin" *ngIf="badLogin">
            <p>Oops, incorrect login! Double check your username and password.</p>
            <p>Forgot your password? Click <a data-target="#forgotForm" data-toggle="modal" href="#"><b>here</b></a></p>
          </div>
        </form>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </div>
</nav>



<!-- modal for user to enter username when login fails -->
<div class="modal fade" id="forgotForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Please enter your username</h3>
      </div>
      <div class="modal-body">
        <form id="passwordReset" novalidate (ngSubmit)="forgotPassword(forgotForm)" #forgotForm="ngForm" class="form-horizontal color: control-label">
          <div class="form-group">
            <input [ngModel]="user?.userName" ngModel #username="ngModel" type="text" class="form-control" id="userName" name="userName"
              placeholder="username">
          </div>
          <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          <button class="btn btn-default" type="button" (click)=forgotPassword(username.value) data-dismiss="modal">Submit</button>
          <button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <br>
          <br>
          <p>Please check your email for directions to reset your password</p>
        </form>
      </div>
    </div>
  </div>
</div>
