
<div>
<h1>LOCAL HOPE</h1>
<h2>Give help to those closest to you.</h2>
</div>


  <div class="regButton">
    <button class="btn-danger" routerLink="/registration" >Sign Up Now</button>
  </div>

  <br> 
  <div class="wrapper">
  <div class="row"> <!-- row 1 start -->
  <div id="donateTime" class="col-md-8 col-sm-12"> 
  <h1> Donate Time </h1>
  </div>

  <div id="rowOneCarousel" class="carousel slide col-md-4 col-sm-12" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img class="d-block img-fluid" src="../assets/images/time1.jpg" alt="First slide">
      </div>
      <div class="item">
        <img class="d-block  img-fluid" src="../assets/images/time2.jpg" alt="Second slide">
      </div>
      <div class="item">
        <img class="d-block  img-fluid" src="../assets/images/time3.jpg" alt="Third slide">
      </div>
    </div>
  </div>
  </div> <!-- row 1 end -->
  
  <div class="row"> <!-- row 2 start -->
  <div id="rowTwoCarousel" class="carousel slide col-md-4 col-sm-12" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img class="d-block  img-fluid" src="../assets/images/item1.jpg" alt="First slide">
      </div>
      <div class="item">
        <img class="d-block img-fluid" src="../assets/images/item2.jpg" alt="Second slide">
      </div>
      <div class="item">
        <img class="d-block  img-fluid" src="../assets/images/item3.jpg" alt="Third slide">
      </div>
    </div>
    
  </div>
  <div id="donateItems" class="col-md-8 col-sm-12"> 
  <h1> Donate Items </h1>
  </div>
  </div> <!-- row 2 end -->
  
  <div class="row"> <!-- row 3 start -->
    <div id="donateMoney" class="col-md-8 col-sm-12"> 
  <h1> Donate Money </h1>
  </div>
  <div id="rowThreeCarousel" class="carousel slide col-md-4 col-sm-12" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img class="d-block img-fluid" src="../assets/images/money1.jpg" alt="First slide">
      </div>
      <div class="item">
        <img class="d-block img-fluid" src="../assets/images/money2.jpg" alt="Second slide">
      </div>
      <div class="item">
        <img class="d-block img-fluid" src="../assets/images/money3.jpg" alt="Third slide">
      </div>
    </div>
  </div>
  </div> <!-- row 3 end -->
  <br>
  <br>
</div>